body {
    padding-top: 30px; /* Altura de la barra de navegación */
}


.carousel-inner {
    height: 400px; /* Altura fija para el carrusel */
}

.carousel-inner img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Las imágenes cubrirán el contenedor sin deformarse */
}


body {
background-image: url('https://imgs.search.brave.com/QLjhNSYGqHTpPE6LOMVamkMF0RsBMLeBP7E9cSGSEM8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/ZmlmdHlzb3VuZHMu/Y29tL2ltYWdlcy9n/cmFwaGljcy9ncnVu/Z2UtYmFja2dyb3Vu/ZC1ibGFjay0zMDgz/LmpwZw'); /* URL de tu imagen */
background-size: cover;
background-position: center center;
background-attachment: fixed;
padding-top: 56px; /* Altura de la barra de navegación */
}

/* Redondeo*/
input, select, button {
padding: 10px;
margin: 3px;
width: 90%;
border-radius: 20px; /* Agrega bordes redondeados */
border: 1px solid #ccc; /* Borde sutil para mejor visibilidad */
outline: none;
transition: 0.3s ease-in-out;
}

/*icono*/
form {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column; /* Asegura que todo esté en columna */
}